---
layout: default
---

	<!-- Home start -->

	<section id="home" class="module-image js-height-full">
		<!-- <section id="home" class="module-image js-height-full"> -->

		<div class="intro">
			<!-- <div class="hello">Hello, my name is Alice Joseph and</div> -->
			<h2>Monoly</h2>
			<h1>The enterprise collaboration platform that puts data privacy first.</h1>
			<br><br>
			<div class="who-creates">Monoly opens secure project spaces and communication channels
				<br>
				between companies and teams, free of 3rd party oversight.
				<br><br>
				Join the Monoly Network to streamline your organization's internal
				<br>
				communication and to collaborate securely with external partners.
				<br>
				Any data exchanged on Monoly belongs to you and your recipients.
				<br>
				<br>
				<strong>Monoly will never see or store your data. Ever.</strong>
			</div>
		</div>

		<div class="mouse-icon">
			<div class="wheel"></div>
		</div>

	</section>

	<!-- Home end -->

	<!-- Navigation start -->

    <header class="header">

        <nav class="navbar navbar-custom">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">Monoly</a>
                </div>

                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home">home</a></li>
                        <li><a href="#portfolio">Features</a></li>
                        <li><a href="#services">Experience</a></li>
                        <li><a href="#about">Solution</a></li>
						<li><a href="#team">Team</a></li>
						<li><a href="#testimonial">Partners</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

            </div><!-- .container -->

        </nav>

    </header>

    <!-- Navigation end -->


	<!-- Portfolio start -->

	<section id="portfolio" class="module">
		<div class="container">
			<div class="row">

				<div class="module-header">
					<h2 class="module-title">
						Features
						<span>PRIVACY</span>
					</h2>
					<div class="module-line"></div>
				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter start-->

			<div class="row">

				<div class="col-sm-12">

					<ul id="filter">
						<li class="active" data-group="all">All</li>
						<li data-group="Seamless">Seamless</li>
						<li data-group="Controllable">Controllable</li>
						<li data-group="Extensible">Extensible</li>
					</ul>

				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter end -->

		</div><!-- .contaier -->

		<ul class="list-items-container">

			<li class="list-item" data-groups="all Seamless">
				<figure>
					<img src="{{site.baseurl}}assets/images/p1-1.jpg" alt="p1">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p1-1.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Work seamlessly with internal and external partners.</h3>
							<div class="portfolio-item-desc">Seamless</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all Controllable">
				<figure>
					<img src="{{site.baseurl}}assets/images/p2-2.jpg" alt="p2">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p2-2.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Know where your data lives</h3>
							<div class="portfolio-item-desc">Controllable</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all Extensible">
				<figure>
					<img src="{{site.baseurl}}assets/images/p3-3.jpg" alt="p3">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p3-3.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Harness the power of Monoly's enterprise blockchain.</h3>
							<div class="portfolio-item-desc">Extensible</div>
						</div>
					</figcaption>
				</figure>
			</li>

<!-- 
			<li class="list-item" data-groups="all slideshow">
				<figure>
					<img src="{{site.baseurl}}assets/images/p4-4.jpg" alt="p4">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p4-4.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Slideshow</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all video">
				<figure>
					<img src="{{site.baseurl}}assets/images/p5-5.jpg" alt="p5">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p5-5.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Video</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all image">
				<figure>
					<img src="{{site.baseurl}}assets/images/p6-6.jpg" alt="p6">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p6-6.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Image</div>
						</div>
					</figcaption>
				</figure>
			</li> -->

		</ul><!-- .projects-container -->

	</section>

	<!-- Portfolio end -->

	<!-- Services start -->

	<!-- <section id="services" class="module module-gray">
		<div class="container">

			<div class="module-header wow fadeInUp">
				<h2 class="module-title">
					Experience
					<span>PRODUCTIVITY</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-desktop"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">For Internal</h3>
							<div class="iconbox-desc">
								Working with internal members of a team or a company. The contents or meta data of your internal discussion never get out of your company.
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">To External</h3>
							<div class="iconbox-desc">
								Work seamlessly with external people as you do it with internals. You don't have to switch the application to talk to and discuss with external members.
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp" data-wow-delay=".2s">
						<div class="iconbox-icon">
							<i class="fab fa-sketch"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">With Guest</h3>
							<div class="iconbox-desc">
								Invite guest members who have not registered to Monoly Network. All the contents of discussions are stored only on your company's server. 
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".4s">
						<div class="iconbox-icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Quick and Agile</h3>
							<div class="iconbox-desc">
								Get to the point when you work. Simplified tagging and Summary panel gives you more quick and agile communication fashion that leads to "get it done" style of working.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".6s">
						<div class="iconbox-icon">
							<i class="fas fa-palette"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">All-in-one</h3>
							<div class="iconbox-desc">
								Stay in one application. No switching other apps to talk with internal, external or guest members using so many messengers and email clients.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".8s">
						<div class="iconbox-icon">
							<i class="fas fa-rocket"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Blockchain Powered</h3>
							<div class="iconbox-desc">
								Even sensitive and monetary documents are exchanged securely and rightfully on Monoly Network, thanks to no oversight of communication. 
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Experience start -->

	<section id="experience">

		<div class="row position-relative margin-1">

			<div class="col-xs-12 col-md-6 side-image"></div>

			<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">

				<div class="row">

					<div class="col-sm-12">

						<div class="module-header wow fadeInUp">
							<h2 class="module-title">
								Experience
								<span>Productivity</span>
							</h2>
							<div class="module-line"></div>
						</div>

					</div>

				</div><!-- .row -->

				<div class="row">

					<div class="col-sm-6">

						<div class="iconboxleft wow fadeInUp">
							<div class="iconboxleft-icon">
								<i class="fas fa-camera-retro"></i>
							</div>
							<div class="iconboxleft-text">
								<h3 class="iconboxleft-title">Keep projects on track and meet shared goals.</h3>
								<div class="iconboxleft-desc">
									Save important information for youself, tag critical information for your team, and start new discussions to keep projects on track and tackle shared goals.
								</div>
							</div>
						</div>

					</div>

					<div class="col-sm-6">

						<div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
							<div class="iconboxleft-icon">
								<i class="fas fa-headphones-alt"></i>
							</div>
							<div class="iconboxleft-text">
								<h3 class="iconboxleft-title">Send secure messages to other collaborators.</h3>
								<div class="iconboxleft-desc">
									Collaborate professionally with internal team members and external partners. Send group messages with the ability to react, respond, edit, and delete.
								</div>
							</div>
						</div>

					</div>

				</div><!-- .row -->

				<div class="row">

					<div class="col-sm-6">

						<div class="iconboxleft wow fadeInUp">
							<div class="iconboxleft-icon">
								<i class="fas fa-paint-brush"></i>
							</div>
							<div class="iconboxleft-text">
								<h3 class="iconboxleft-title">Share files with confidence.</h3>
								<div class="iconboxleft-desc">
									Select who has access to which files and set permission levels on a person-by-person basis.
								</div>
							</div>
						</div>

					</div>

					<div class="col-sm-6">

						<div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
							<div class="iconboxleft-icon">
								<i class="fas fa-hat-wizard"></i>
							</div>
							<div class="iconboxleft-text">
								<h3 class="iconboxleft-title">Keep personal and organizational data secure.</h3>
								<div class="iconboxleft-desc">
									Oversee how you want to handle data at the end of a discussion. Delete data from alll servers or lock and store data long-term. You decide how to best keep infomration safe.
								</div>
							</div>
						</div>

					</div>

				</div><!-- .row -->

			</div><!-- col-xs-12 -->

		</div><!-- .row -->
	</section>


	<!-- Experience end -->

	<!-- Team start -->

	<div id="team" class="module module-gray text-center">
		<div class="container">

			<div class="module-header wow fadeInUp">
				<h2 class="module-title">
					Team
					<span>PROFESSIONAL</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-desktop"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">K. Sung</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">R. Kim</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp" data-wow-delay=".2s">
						<div class="iconbox-icon">
							<i class="fab fa-sketch"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">A. Keum</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".4s">
						<div class="iconbox-icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">S. Kim</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".6s">
						<div class="iconbox-icon">
							<i class="fas fa-palette"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">K. Pak</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".8s">
						<div class="iconbox-icon">
							<i class="fas fa-rocket"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Coming Soon</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</div>

	<!-- Team end -->

	<!-- Testimonial start -->

	<div id="testimonial" class="module module-gray text-center">
		<div class="container">
			
			<div class="module-header wow fadeInUp">
				<h2 class="module-title">
					Partners
					<span>Strategy</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-sm-8 col-sm-offset-2">

					<div class="module-header wow fadeInUp">
						<div class="module-icon"><i class="fas fa-quote-left"></i></div>
					</div>

					<div class="testimonials owl-carousel wow fadeInUp">
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</div>

	<!-- Testimonial end -->

	<!-- Blog start -->

	<section id="blog" class="module blog">
		<div class="container">

			<div class="module-header">
				<h2 class="module-title">Blog
					<span>Articles</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

            	{% for post in site.posts limit:3 %}
					<div class="col-sm-4">
						<a href="{{site.baseurl}}{{post.url}}" class="blogList wow fadeInUp">
							<div class="blogList-img">
								{% if post.banner_image %}
									<img src="{{ "assets/images/" | append: post.banner_preview | prepend: site.baseurl }}" alt="Blog Desc">
								{% endif %}
								{% if post.category %}
								<span>{{post.category}}</span>
								{% endif %}
							</div>
							<div class="blogList-desc">
								<h3>{{post.title}}</h3>
								<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...</div>
							</div>
						</a>
					</div>
				{% endfor %}

				<div class="col-sm-12">
					<a class="blog-viewMore" href="{{site.baseurl}}blog.html">VIEW MORE</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Blog end -->

	<!-- Feature start -->

	<section id="features" class="module feature">
		<div class="container">

			<div class="module-header">
				<h2 class="module-title">Feature
					<span>Privacy</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">
					<div class="col-sm-4">
						<div class="featureList">
							<div class="featureList-img">
									<img src="assets/images/feature1.png" alt="Seamless collaboration">
							</div>
							<div class="featureList-desc">
								<h3>Work seamlessly <br>with external partners.</h3>
								<div>Monoly helps you communicate professionally and share files securely with internalteammates and external partners. Send secure messages and protected files to people and organizations you trust.</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="featureList">
							<div class="featureList-img">
									<img src="assets/images/feature2.png" alt="Data ownership">
							</div>
							<div class="featureList-desc">
								<h3>Know where your data lives.</h3>
								<div>Whether working internally or externally, Monoly helps you control who has access to what data and choose where data gets stored. Save and exchange data from your organization’s servers, free from 3rd party surveillance.</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="featureList">
							<div class="featureList-img">
									<img src="assets/images/feature3.png" alt="Blockchain">
							</div>
							<div class="featureList-desc">
								<h3>Harness the power of<br>Monoly's enterprise blockchain.</h3>
								<div>Monoly’s proprietary enterprise blockchain infrastructure goes far beyond yesterday’s  blockchain. Monoly connects and verifies organizations’ servers without ever collecting data. Use Monoly as your link to the future of secure data exchange. </div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>

	<!-- Feature end -->

	<!-- Google Map start

	<div id="map-section">

		<div id="map"></div>

	</div>

	Google Map end -->

	<!-- Contact start -->

	<section id="contact" class="module">
		<div class="container">

			<div class="module-header">
				<h2 class="module-title">Contact
					<span>Synergy</span>
				</h2>
				<div class="module-line"></div>
			</div>


			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<form id="contact-form" action="#">
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".1s">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".2s">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message" required></textarea>
							</div>

							<button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">Send Message
							</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Contact end -->